.PCard{
    width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto auto;

    padding: 50px;
  
}
.btn-addtocart{
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
 background-size: 500% 400%;
 padding: 8px;
 display: inline-block;
 border: none;
 border-radius: 10px;
 font-size: 13px;
 font-weight: 700;
 color: white;
 transition: all .5s ease-in-out;
 animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.btn-addtocart:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
.btn-addtocart:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
.card-title{
    font-size: 22px;
}
.cart-quantity{
    font-size: 18px;
}